body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.main-container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.info-text {
  text-align: center;
}